<?xml version="1.0"?>
<config>
    <modules>
        <Ce_PrescriptionPayment>
            <version>0.1.0</version>
        </Ce_PrescriptionPayment>
    </modules>
    <global>
        <models>
            <prescriptionpayment>
                <class>Ce_PrescriptionPayment_Model</class>
                <resourceModel>prescriptionpayment_mysql4</resourceModel>
            </prescriptionpayment>
            <prescriptionpayment_mysql4>
                <class>Ce_PrescriptionPayment_Model_Mysql4</class>
                <entities>
                    <prescriptionpayment>
                        <table>prescriptionpayment</table>
                    </prescriptionpayment>
            </entities>
            </prescriptionpayment_mysql4>
        </models>
        <helpers>
            <prescriptionpayment>
                <class>Ce_PrescriptionPayment_Helper</class>
            </prescriptionpayment>
        </helpers>
        <blocks>
            <prescriptionpayment>
                <class>Ce_PrescriptionPayment_Block</class>
            </prescriptionpayment>
            <adminhtml>
                <rewrite>
                    <sales_order_view_tab_info>Ce_PrescriptionPayment_Block_Adminhtml_Sales_Order_View_Tab_Prescriptions</sales_order_view_tab_info>
                    <sales_order_view_info>Ce_PrescriptionPayment_Block_Adminhtml_Sales_Order_Prescriptionpayment</sales_order_view_info>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <prescriptionpayment_setup>
                <setup>
                    <module>Ce_PrescriptionPayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </prescriptionpayment_setup>
            <prescriptionpayment_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </prescriptionpayment_write>
            <prescriptionpayment_read>
               <connection>
                <use>core_read</use>
              </connection>
            </prescriptionpayment_read>
        </resources>
         <events>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <prescriptionpayment>
                        <type>singleton</type>
                        <class>Ce_PrescriptionPayment_Model_Observer</class>
                        <method>hasItemsForConsultationOverhead</method>
                    </prescriptionpayment>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <prescriptionpayment>
                        <type>singleton</type>
                        <class>Ce_PrescriptionPayment_Model_Observer</class>
                        <method>recollectTotals</method>
                    </prescriptionpayment>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <checkout_onepage_controller_success_action>
                <observers>
                    <prescriptionpayment>
                        <type>singleton</type>
                        <class>Ce_PrescriptionPayment_Model_Observer</class>
                        <method>saveUploadedPrescriptions</method>
                    </prescriptionpayment>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Ce_PrescriptionPayment>
                    <files>
                        <default>Ce_PrescriptionPayment.csv</default>
                    </files>
                </Ce_PrescriptionPayment>
            </modules>
        </translate>
        <layout>
            <updates>
                <index>
                    <file>ce_prescriptionpayment.xml</file>
                </index>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Ce_PrescriptionPayment>
                    <files>
                        <default>Ce_PrescriptionPayment.csv</default>
                    </files>
                </Ce_PrescriptionPayment>
            </modules>
        </translate>
        <routers>
            <prescriptionpayment>
                <use>standard</use>
                <args>
                    <module>Ce_PrescriptionPayment</module>
                    <frontName>prescriptionpayment</frontName>
                </args>
            </prescriptionpayment>
        </routers>
        <layout>
            <updates>
                <prescriptionpayment>
                    <file>ce_prescriptionpayment.xml</file>
                </prescriptionpayment>
            </updates>
        </layout> 
    </frontend>
    <default>
        <payment>
            <prescriptionpayment>
                <active>1</active>
                <model>prescriptionpayment/prescriptionpayment</model>
                <order_status>pending</order_status>
                <title>Rezeptbezahlung</title>
                <allowspecific>0</allowspecific>
                <form_block_type>0</form_block_type>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
            </prescriptionpayment>
         </payment>
    </default>
</config>